.body-main {
  margin: 20px 15% 0 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transaction-body-main {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}