.signup-page {
  margin: 20px 15% 0 15%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .signup-form {
    width: 50%;
    height: 500px;
    padding: 5px;
    background-color: rgb(209, 255, 217);

    .form-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;

      text {
        margin: 10px;
      }
    }

    .form-input {
      display: flex;
      flex-direction: column;
      padding: 10px;
      
      input {
        height: 25px;
      }
    }

    [type='submit'] {
      height: 30px;
      width: 80px;
      margin: 10px;
    }
  }
}