.Header {
  background-image: url('../../MoneyBackground.jpg');
  background-color: rgb(161, 255, 161);
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 130px;

  .header-left {
    margin-left: 15%;
    display: flex;
    padding: 10px;
    h1 {
      margin-left: 20px;
    }
  }

  .header-right {
    margin-right: 15%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    align-items: center;
    
  }

}